{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load mptt_tags %}










<div class="col-md-12">
  <div class="card  card-plain" align="right" dir="rtl">
    <div class="card-header">
      <h4 class="card-title" dir="rtl" align="center"> قطعه {{ material.name }} <small> ({{ material.code }}) </small> </h4> <br>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <img width="20%" src="{{ material.image.url }}">
          </div>
        </p>
        <div align="right" dir="rtl" class="card-description">
          <p class="category"> {{ material.description|linebreaks }} </p>
        </div>
      </div>
    </div>
  </div>
</div>
















<div class="row">
<div class="col-md-12">
  <div class="card  card-plain" align="center" dir="rtl">
    <div class="card-body">

        <table class="table">
          <tbody>
            <tr>
              <td>
                <p class="category"> موجودی :  {{ material.inventory }} </p>
              </td>
              <td>
                <p class="category">  حداقل موجودی : {{ material.min_inventory }} </p>
              </td>
              <td>
                <p class="category">  ایستگاه تولید کننده :
                  {% for Station in exit_station %}
                     <a href="{{ Station.get_absolute_url }}"> {{ Station.name }} </a>
                  {% endfor %}
                </p>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td>
                <p class="category"> محصولات استفاده کننده:
                  {% for Tree in products %}
                   &nbsp;&nbsp;&nbsp;  <a href="{{ Tree.relatedProduct.get_absolute_url }}"> {{ Tree.relatedProduct }} </a>
                  {% endfor %}
                </p>
              </td>
              <td>
                <p class="category"> ایستگاه های استفاده کننده:
                  {% for Station in stations %}
                   &nbsp;&nbsp;&nbsp;  <a href="{{ Station.get_absolute_url }}"> {{ Station.name }} </a>
                  {% endfor %}
                </p>
              </td>
            </tr>
          </tbody>
        </table>

    </div>
  </div>
</div>
</div>












<div class="row">

  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-header">
        <h4 class="card-title" dir="rtl" align="center">
            BOM
        </h4>
      </div>
      <div class="card-body">
        <div align="right" dir="rtl" class="card-description">
          <section id='eg1' class="ladder tree">
            <ul>
              {% recursetree bom %}
              <li> <a href="."> <p> {{ node.quantity }} --- {{ node.name.name }} </p> </a>
                <ul>
                  {% if not node.is_leaf_node %}
                    <li> {{ children }}  </li>
                  {% endif %}
                </ul>
              </li>
              {% endrecursetree %}
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-header">
        <h4 class="card-title" dir="rtl" align="center">
            موجودی خارج نشده
        </h4>
      </div>
      <div class="card-body">
        <div align="right" dir="rtl" class="card-description">
          {% for Station in exit_station %}
              <p> <a href="{{ Station.get_absolute_url }}"> {{ Station.name }} </a>: {{ Station.inventory }}  </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>












{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>



    $("#eg1 li ul").slideToggle(); // hide all nested lists
    $("#eg1 li ul").prev("a").click(function(){ // add fn to list items that have a nested list
        $(this).next("ul").slideToggle(100); // show/hide the nested list
        return false; // prevent scrolling
    });





    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });



  </script>

{% endblock javascripts %}
