{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load mptt_tags %}





<div class="col-md-12">
  <div class="card  card-plain" align="right" dir="rtl">
    <div class="card-header">
      <h4 class="card-title" dir="rtl" align="center"> قطعه {{ material.name }} <small> ({{ material.code }}) </small> </h4> <br>
      <p> موجودی:   {{ material.inventory }}  </p>
      <p> حداقل موجودی:   {{ material.min_inventory }}  </p>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <img width="20%" src="{{ material.image.url }}">
          </div>
        </p>
        <div align="right" dir="rtl" class="card-description">
          <p class="category"> {{ material.description|linebreaks }} </p>
        </div>
      </div>
    </div>
  </div>
</div>







<div class="row">
  <div class="col-md-12">
    <div class="card card-user">

      <div class="card-header">
        <h4 class="card-title" dir="rtl" align="center">
            BOM
        </h4>
      </div>

      <div class="card-body">
        <div align="right" dir="rtl" class="card-description">

          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>
                    نام
                  </th>
                  <th>
                    کد
                  </th>
                  <th>
                    توضیحات
                  </th>
                  <th>
                    تعداد
                  </th>
                  <th class="text-center">
                    تصویر
                  </th>
                </tr>
              </thead>
              <tbody>
              {% recursetree bom %}
                <tr>
                  <td><a href="{{ node.name.get_absolute_url }}"> {{ node.name.name }} </a></td>
                  <td> {{ node.name.code }} </td>
                  <td> {{ node.name.description|slice:":70" }}... </td>
                  <td> {{ node.quantity }}</td>
                  <td class="text-center">
                    <div class="photo">
                      <img src="{{ node.name.image.url }}" alt="Profile Photo">
                    </div>
                  </td>
                </tr>
                {% if not node.is_leaf_node %}
                   <tr> {{ children }} </tr>
                 {% endif %}
              {% endrecursetree %}
              </tbody>
            </table>
          </div>









          <hr><br>


          <section id='eg1' class="ladder tree">

            <ul>
              {% recursetree bom %}
              <li><a href="."> {{ node.name.name }} </a>
                <ul>
                  {% if not node.is_leaf_node %}
                    <li>
                      <a href="."> {{ children }} </a>
                    </li>
                  {% endif %}
                </ul>
              </li>
              {% endrecursetree %}
            </ul>

          </section>


          <script type="text/javascript">
              $("#eg1 li ul").slideToggle(); // hide all nested lists
              $("#eg1 li ul").prev("a").click(function(){ // add fn to list items that have a nested list
                  $(this).next("ul").slideToggle(100); // show/hide the nested list
                  return false; // prevent scrolling
              });
          </script>






        </div>
      </div>

    </div>
  </div>
</div>












{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>








    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });



  </script>

{% endblock javascripts %}
