{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card" align="right" dir="rtl">
      <div class="card-header">
        <h4 class="card-title">  ایستگاه های مادر   </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  نام
                </th>
                <th>
                  توضیحات
                </th>
                <th>
                  مسئول
                </th>
              </tr>
            </thead>
            <tbody>
            {% for Mother_Station in mother_station %}
              <tr>
                <td><a href="{{ Mother_Station.get_absolute_url }}"> {{ Mother_Station.name }} </a></td>
                <td> {{ Mother_Station.description|slice:":70" }}... </td>
                <td> {{ Mother_Station.manager }} </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}




<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
