{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}



{% if request.user.is_superuser %}
<div class="row">
  <div class="col-md-12">
    <div class="card-plain">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter">
            <thead class=" text-primary">
              <tr>
                <th class="text-center">
                  <a href="{% url 'app:add_station' %}"> افزودن ایستگاه </a>
                </th>
                <th class="text-center">
                  <a href="{% url 'app:add_repository' %}"> افزودن انبار </a>
                </th>
                <th class="text-center">
                  <a href="{% url 'app:add_transfer' %}"> افزودن حمل و نقل </a>
                </th>
                <th class="text-center">
                  <a href="{% url 'app:add_material' %}"> افزودن قطعه </a>
                </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}


<div class="row">
  <div class="col-md-12">
    <div class="card" align="right" dir="rtl">
      <div class="card-header">
        <h4 class="card-title"> فرایندها </h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  نام
                </th>
                <th>
                  مسئول
                </th>
                <th>
                  مشخصات
                </th>
                <th class="text-center">
                  ایستگاه
                </th>
              </tr>
            </thead>
            <tbody>
            {% for Process in processes %}
              <tr>
                <td><a href="{{ Process.get_absolute_url }}"> {{ Process.name }} </a></td>
                <td> {{ Process.manager }} </td>
                <td> {{ Process.description|slice:":80" }}... </td>
                <td class="text-center">
                  <div class="photo">
                  {% if Process.position == "M" %}
                  <img src="{% static 'assets/img/m.png' %}" class="img-responsive" />
                  {% endif %}
                  {% if Process.position == "R" %}
                  <img src="{% static 'assets/img/r.png' %}" class="img-responsive" />
                  {% endif %}
                  {% if Process.position == "T" %}
                  <img src="{% static 'assets/img/t.png' %}" class="img-responsive" />
                  {% endif %}
                  {% if Process.position == "S" %}
                  <img src="{% static 'assets/img/s.png' %}" class="img-responsive" />
                  {% endif %}
                  {% if Process.position == "P" %}
                  <img src="{% static 'assets/img/p.png' %}" class="img-responsive" />
                  {% endif %}
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
