{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}






<div class="col-md-12">
  <div class="card  card-plain" align="right" dir="rtl">
    <div class="card-header">
      <h4 class="card-title" dir="rtl" align="center"> ایستگاه {{ station.name }} <small> ({{ station.code }}) </small> </h4> <br>
      <p> موجودی:   {{ station.inventory }}  </p>
      <p> حداقل موجودی:   {{ station.min_inventory }}  </p>
      <hr>
      <p> {{ station.manager }} </p>
      <p> {{ station.mother_station }} </p>
      <p> {{ station.pro_cap_day }} </p>
      <p> {{ station.percent_error }} </p>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">
        <div align="right" dir="rtl" class="card-description">
          <p class="category"> {{ station.description|linebreaks }} </p>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="row" align="right" dir="rtl">

  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-header">
         <h4> قطعات ورودی :</h4>
      </div>
      <div class="card-body">
        {% for input_material in station.input_material.all %}{{ input_material }}<br/>{% endfor %}
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-user">
      <div class="card-header">
         <h4> قطعه خروجی :</h4>
      </div>
      <div class="card-body">
        {{ station.output_material }}
      </div>
    </div>
  </div>

</div>













{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>



    // zoom tree with input renge

    var p = document.getElementById("input"),
        res = document.getElementById("sampleDiv");

    p.addEventListener("input", function() {
        res.style.zoom = p.value+'%';
    }, false);


//----------------------------------------------------------------------------




    // compare processes order with inventory in tree

        var array = [
          {% for Order in orders %}
           {% for Tree in tree %}
            {% for relatedProduct in Tree.relatedProduct.all %}
              {% if relatedProduct == Order.product %}
               {% if Order.confirmed %}
                 {% if Order.completed == False %}
                    { "name":"{{Tree.name}}", "tot":{% widthratio Tree.quantity 1 Order.circulation %} },
                 {% endif %}
               {% endif %}
              {% endif %}
            {% endfor %}
           {% endfor %}
          {% endfor %}
        ];

        var orders = array.reduce(function (agg, obj) {
          var objForName = agg.filter(function (nameObj) { return nameObj.name === obj.name})[0]

          if (objForName) {
            objForName.total += obj.tot;
          } else {
            agg.push({
              name: obj.name,
              total: obj.tot
            })
          }
          return agg;
        }, [])



        var processes_inventory = [
           {% for Process in processes %}
              { "name":"{{Process.name}}", "total":"{{Process.inventory}}" },
           {% endfor %}
         ];



        var extra_orders = document.getElementById("extra_orders");

        for(var i=0; i < orders.length; i++){
          for(var j=0; j < processes_inventory.length; j++){
            if ( orders[i].name == processes_inventory[j].name ){
              var diff = processes_inventory[j].total - orders[i].total ;

              if ( diff<0 ){
                diff = diff* -1;
                extra_orders.innerHTML += "<h6> تعداد  "+diff+" شفارش در فرآیند "+ processes_inventory[j].name +" بیشتر از موجودی است. </hr> <br>";
              }

            }
          }
        }

//----------------------------------------------------------------------------







    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });



  </script>

{% endblock javascripts %}
