{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load mptt_tags %}





<div class="col-md-12">
  <div class="card  card-plain" align="right" dir="rtl">
    <div class="card-header">
      <h4 class="card-title" dir="rtl" align="center"> سفارش {{ order.product.name }} </h4>

      <div class="row">
        <div class="col-md-6" align="right">
          <button style="background-color:#0c5ba9bd;color:white;text-align:center;border-radius:8px;padding:10px;font-size:16px;border:none;"> کد:&nbsp;{{ order.code }} </button>
        </div>
        <div class="col-md-6" align="left">
          <button style="background-color:#0c5ba9bd;color:white;text-align:center;border-radius:8px;padding:10px;font-size:16px;border:none;"> تیراژ:&nbsp;{{ order.circulation }} </button>
        </div>
      </div>

    </div>
  </div>
</div>





<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <img width="20%" src="{{ order.product.synch_to.image.url }}">
          </div>
        </p>
        <div align="right" dir="rtl" class="card-description">
          <p class="category"> {{ order.description|linebreaks }} </p>
        </div>
      </div>
    </div>
  </div>
</div>








<div class="row" align="center" dir="rtl">

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
         <h4> ایستگاه های درگیر :</h4>
      </div>
      <div class="card-body" style="font-size:11px; color:black;">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                نام
              </th>
              <th>
                وضعیت
              </th>
              <th>
                مسئول
              </th>
              <th>
                موجودی
              </th>
              <th class="text-center">
                قطعه خروجی
              </th>
            </tr>
          </thead>
          <tbody>
          {% for Tree in involved_stations %}
            <tr>
              <td><a href="{{ Tree.station.get_absolute_url }}"> {{ Tree.station.name }} </a></td>
              <td> {{ Tree.station.position }} </td>
              <td> {{ Tree.station.manager }} </td>
              <td> {{ Tree.station.inventory }} </td>
              <td class="text-center"> {{ Tree.station.output_material }} </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
         <h4>   ایستگاه های تایید شده برای سفارش :</h4>
      </div>
      <div class="card-body">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                a
              </th>
              <th>
                b
              </th>
              <th>
                c
              </th>
              <th class="text-center">
                d
              </th>
            </tr>
          </thead>
          <tbody>
          {% for a in b %}
            <tr>
              <td>  <a href="{{ input_material.material.get_absolute_url }}"> {{ a.a }} </a></td>
              <td> {{ a.a.a }} </td>
              <td> {{ a.a }} </td>
              <td class="text-center">
                <div class="photo">
                  <img src="{{ a.a.image.url }}" alt="Profile Photo">
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>




</div>








<div class="row" align="center" dir="rtl">

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
         <h4>  مواد سطح اولیه مورد نیاز :</h4>
      </div>
      <div class="card-body">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                a
              </th>
              <th>
                b
              </th>
              <th>
                c
              </th>
              <th class="text-center">
                d
              </th>
            </tr>
          </thead>
          <tbody>
          {% for a in b %}
            <tr>
              <td>  <a href="{{ input_material.material.get_absolute_url }}"> {{ a.a }} </a></td>
              <td> {{ a.a.a }} </td>
              <td> {{ a.a }} </td>
              <td class="text-center">
                <div class="photo">
                  <img src="{{ a.a.image.url }}" alt="Profile Photo">
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
         <h4>   	اقلام مصرفی مورد نیاز :</h4>
      </div>
      <div class="card-body">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                a
              </th>
              <th>
                b
              </th>
              <th>
                c
              </th>
              <th class="text-center">
                d
              </th>
            </tr>
          </thead>
          <tbody>
          {% for a in b %}
            <tr>
              <td>  <a href="{{ input_material.material.get_absolute_url }}"> {{ a.a }} </a></td>
              <td> {{ a.a.a }} </td>
              <td> {{ a.a }} </td>
              <td class="text-center">
                <div class="photo">
                  <img src="{{ a.a.image.url }}" alt="Profile Photo">
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>






<div class="row" align="center" dir="rtl">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
         <h4>   کل قطات سفارش :</h4>
      </div>
      <div class="card-body" style="font-size:11px; color:black;">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                نام
              </th>
              <th>
                وضعیت
              </th>
              <th>
                موجودی
              </th>
              <th>
                ضریب مصرف
              </th>
              <th>
                نیاز سفارش
              </th>
              <th class="text-center">
                تصویر
              </th>
            </tr>
          </thead>
          <tbody>
          {% for Tree in involved_materials %}
           {% for input_material in Tree.station.input_material.all %}
              <tr>
                <td><a href="{{ input_material.material.get_absolute_url }}"> {{ input_material.material }} </a> </td>
                <td> {{ input_material.material.position }} </td>
                <td> {{ input_material.material.inventory }} </td>
                <td> {{ input_material.inventory }} </td>
                <td> {% widthratio input_material.inventory 1 order.circulation %} </td>
                <td class="text-center">
                  <div class="photo">
                    <img src="{{ input_material.material.image.url }}" alt="Profile Photo">
                  </div>
                </td>
              </tr>
           {% endfor %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>










{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>




    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });



  </script>

{% endblock javascripts %}
