{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load mptt_tags %}
{% load bootstrap %}




<div class="col-md-12">
  <div class="card  card-plain" align="right" dir="rtl">
    <div class="card-header">
      <h4 class="card-title" dir="rtl" align="center"> سفارش {{ order.product.name }} </h4>

      <div class="row">
        <div class="col-md-6" align="right">
          <button style="background-color:#0c5ba9bd;color:white;text-align:center;border-radius:8px;padding:10px;font-size:16px;border:none;"> کد:&nbsp;{{ order.code }} </button>
        </div>
        <div class="col-md-6" align="left">
          <button style="background-color:#0c5ba9bd;color:white;text-align:center;border-radius:8px;padding:10px;font-size:16px;border:none;"> تیراژ:&nbsp;{{ order.circulation.normalize }} </button>
        </div>
      </div>


      <p align="right" dir="rtl">
        <small>
          <br>
           تایید شده :
           {% if order.confirmed %}
             <i style="color:green;" class="tim-icons icon-check-2"></i>
           {% else %}
             <i style="color:red;" class="tim-icons icon-simple-remove"></i>
           {% endif %}
          <br>
           تکمیل شده :
           {% if order.completed %}
             <i style="color:green;" class="tim-icons icon-check-2"></i>
           {% else %}
             <i style="color:red;" class="tim-icons icon-simple-remove"></i>
           {% endif %}
        </small>
      </p>

    </div>
  </div>
</div>







<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <img width="20%" src="{{ order.product.synch_to.image.url }}">
          </div>
        </p>
        <div align="right" dir="rtl" class="card-description">
          <p class="category"> {{ order.description|linebreaks }} </p>
        </div>
      </div>
    </div>
  </div>
</div>








<div class="row" align="center" dir="rtl">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
         <h4> ایستگاه های درگیر :</h4>
      </div>
      <div class="card-body" style="font-size:11px; color:black;">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                نام
              </th>
              <th>
                وضعیت
              </th>
              <th>
                مسئول
              </th>
              <th>
                موجودی
              </th>
            </tr>
          </thead>
          <tbody>
          {% for Tree in involved_stations %}
            <tr>
              <td>
                {% for Order_confirmation in order_confirmation %}
                  {% if Order_confirmation.station ==  Tree.station  %}
                     <i style="font-size:15px;color:green;" class="tim-icons icon-check-2"></i>
                  {% endif %}
                {% endfor %}
                <a href="{{ Tree.station.get_absolute_url }}"> {{ Tree.station.name }} </a>
              </td>
              <td> {{ Tree.station.position }} </td>
              <td> {{ Tree.station.manager }} </td>
              <td> {{ Tree.station.inventory.normalize }} </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
         <h4>   کل قطات سفارش :</h4>
      </div>
      <div class="card-body" style="font-size:11px; color:black;">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                نام
              </th>
              <th>
                وضعیت
              </th>
              <th>
                موجودی
              </th>
              <th>
                ضریب مصرف
              </th>
              <th>
                نیاز سفارش
              </th>
              <th class="text-center">
               کسر و اضافه
              </th>
              <th class="text-center">
                تصویر
              </th>
            </tr>
          </thead>
          <tbody>
          {% for Tree in involved_materials %}
           {% for input_material in Tree.station.input_material.all %}
              <tr>
                <td><a href="{{ input_material.material.get_absolute_url }}"> {{ input_material.material }} </a> </td>
                <td> {{ input_material.material.position }} </td>
                <td> {{ input_material.material.inventory.normalize }} {{ input_material.material.unit }} </td>
                <td> {{ input_material.inventory.normalize }} </td>
                <td> {% widthratio input_material.inventory 1 order.circulation %} </td>
                <td dir="ltr" class="text-center">
                  <p id="{{ input_material.material }}"></p>
                    <script>
                        var inventoryyy = {{ input_material.material.inventory }} ;
                        var ordersss = {% widthratio input_material.inventory 1 order.circulation %} ;
                        var kasroezafe = (inventoryyy - ordersss);
                        document.getElementById('{{ input_material.material }}').innerHTML = kasroezafe;
                    </script>
                </td>
                <td class="text-center">
                  <div class="photo">
                    <img src="{{ input_material.material.image.url }}" alt="Profile Photo">
                  </div>
                </td>
              </tr>
           {% endfor %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>








<div class="row" align="center" dir="rtl">

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
         <h4>  مواد سطح اولیه مورد نیاز :</h4>
      </div>
      <div class="card-body" style="font-size:11px; color:black;">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                نام
              </th>
              <th>
                موجودی
              </th>
              <th>
                ضریب مصرف
              </th>
              <th>
                نیاز سفارش
              </th>
              <th class="text-center">
                تصویر
              </th>
            </tr>
          </thead>
          <tbody>
          {% for Tree in involved_materials %}
           {% for input_material in Tree.station.input_material.all %}
            {% if input_material.material.position == 'سطح اولیه' %}
              <tr>
                <td><a href="{{ input_material.material.get_absolute_url }}"> {{ input_material.material }} </a> </td>
                <td> {{ input_material.material.inventory.normalize }} {{ input_material.material.unit }}  </td>
                <td> {{ input_material.inventory.normalize }} </td>
                <td> {% widthratio input_material.inventory 1 order.circulation %} </td>
                <td class="text-center">
                  <div class="photo">
                    <img src="{{ input_material.material.image.url }}" alt="Profile Photo">
                  </div>
                </td>
              </tr>
            {% endif %}
           {% endfor %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
         <h4>   	اقلام مصرفی مورد نیاز :</h4>
      </div>
      <div class="card-body" style="font-size:11px; color:black;">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                نام
              </th>
              <th>
                موجودی
              </th>
              <th>
                ضریب مصرف
              </th>
              <th>
                نیاز سفارش
              </th>
              <th class="text-center">
                تصویر
              </th>
            </tr>
          </thead>
          <tbody>
          {% for Tree in involved_materials %}
           {% for input_material in Tree.station.input_material.all %}
            {% if input_material.material.position == 'اقلام مصرفی' %}
              <tr>
                <td><a href="{{ input_material.material.get_absolute_url }}"> {{ input_material.material }} </a> </td>
                <td> {{ input_material.material.inventory.normalize }} {{ input_material.material.unit }} </td>
                <td> {{ input_material.inventory.normalize }} </td>
                <td> {% widthratio input_material.inventory 1 order.circulation %} </td>
                <td class="text-center">
                  <div class="photo">
                    <img src="{{ input_material.material.image.url }}" alt="Profile Photo">
                  </div>
                </td>
              </tr>
            {% endif %}
           {% endfor %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>





















<div class="row" align="center" dir="rtl">

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
         <h4> تولیدات مربوط به این سفارش </h4>
      </div>
      <div class="card-body" style="font-size:11px; color:black;">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                نام قطعه
              </th>
              <th>
                ایستگاه تولید کننده
              </th>
              <th>
                 تعداد
              </th>
              <th>
                مسئول
              </th>
              <th>
                تاریخ
              </th>
              <th class="text-center">
                تصویر
              </th>
            </tr>
          </thead>
          <tbody>
          {% for Station_exit_history in exit_order %}

              <tr>
                <td> <a href="{{ Station_exit_history.material.get_absolute_url }}"> {{ Station_exit_history.material.name }} </a> </td>
                <td> <a href="{{ Station_exit_history.station.get_absolute_url }}"> {{ Station_exit_history.station.name }} </a> </td>
                <td> {{ Station_exit_history.quantity.normalize }} </td>
                <td> {{ Station_exit_history.manager }} </td>
                <td> {{ Station_exit_history.j_time }} </td>
                <td class="text-center">
                  <div class="photo">
                    <img src="{{ Station_exit_history.material.image.url }}" alt="Profile Photo">
                  </div>
                </td>
              </tr>

          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>










{% if request.user.is_superuser %}
  <br>
  <hr>

  <form dir="rtl" align="center" method="post">
    {% csrf_token %}
    {{ order_form|bootstrap }}
     <div class="card-footer">
       <button type="submit" class="btn btn-fill btn-primary"> ذخیره </button>
     </div>
  </form>
{% endif %}




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>




    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });



  </script>

{% endblock javascripts %}
