{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} UI Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}







<div class="col-md-12">
  <div class="card  card-plain" align="right" dir="rtl">
    <div class="card-header">
      <h3 class="card-title" dir="rtl" align="center"> محصولات  </h3>
    </div>
  </div>
</div>








<div class="row">
  <div class="col-md-12">
    <div class="card" align="right" dir="rtl">
      <div class="card-header">

      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  نام
                </th>
                <th>
                  کد
                </th>
                <th>
                  توضیحات
                </th>
                <th>
                  موجودی
                </th>
                <th class="text-center">
                  تصویر
                </th>
              </tr>
            </thead>
            <tbody>
            {% for Product in products %}
              <tr>
                <td><a href="{{ Product.get_absolute_url }}"> {{ Product.name }} </a></td>
                <td> {{ Product.synch_to.code }} </td>
                <td> {{ Product.synch_to.description|slice:":90" }}... </td>
                <td> {{ Product.synch_to.inventory.normalize }} </td>
                <td class="text-center">
                  <div class="photo">
                    <img src="{{ Product.synch_to.image.url }}" alt="Profile Photo">
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
