{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load bootstrap %}




<div class="col-md-12">
  <div class="card  card-plain" align="right" dir="rtl">
    <div class="card-header">
      <h4 class="card-title" dir="rtl" align="center"> ایستگاه {{ station.name }} </h4>

      <div class="row">
        <div class="col-md-6" align="right">
          <button style="background-color:#0c5ba9bd;color:white;text-align:center;border-radius:8px;padding:10px;font-size:16px;border:none;"> کد:&nbsp;{{ station.code }} </button>
        </div>
        <div class="col-md-6" align="left">
          <button style="background-color:#0c5ba9bd;color:white;text-align:center;border-radius:8px;padding:10px;font-size:16px;border:none;"> {{ station.position }} </button>
        </div>
      </div>

    </div>
  </div>
</div>


{% if station.inventory <= station.min_inventory %}
  <p align="right" dir="rtl" style="color:red;"> موجودی از حداقل کمتر است </p>
{% endif %}



<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">
        <div align="right" dir="rtl" class="card-description">
          <p class="category"> {{ station.description|linebreaks }} </p>
        </div>
      </div>
    </div>
  </div>
</div>






<div class="row" dir="rtl" align="right" style="font-size:11px; color:black;">

  <div class="col-md-2">
    <div class="card ">
      <div class="card-header">
        <h6 class="card-title" align="center"> موجودی  </h6>
      </div>
      <div class="card-body">
          {{ station.inventory }}
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card ">
      <div class="card-header">
        <h6 class="card-title" align="center"> حداقل موجودی  </h6>
      </div>
      <div class="card-body">
          {{ station.min_inventory }}
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card ">
      <div class="card-header">
        <h6 class="card-title" align="center"> ظرفیت تولید در روز   </h6>
      </div>
      <div class="card-body">
          {{ station.pro_cap_day }}
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card ">
      <div class="card-header">
        <h6 class="card-title" align="center"> درصد خطا  </h6>
      </div>
      <div class="card-body">
         {{ station.percent_error }}
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card ">
      <div class="card-header">
        <h6 class="card-title" align="center">  ایستگاه مادر </h6>
      </div>
      <div class="card-body">
         {{ station.mother_station|default:'ندارد' }}
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card ">
      <div class="card-header">
        <h6 class="card-title" align="center"> مسئول  </h6>
      </div>
      <div class="card-body">
         {{ station.manager }}
      </div>
    </div>
  </div>

</div>





<div class="row" align="center" dir="rtl">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
         <h4> قطعات ورودی :</h4>
      </div>
      <div class="card-body">
        <table class="table tablesorter " id="">
          <thead class=" text-primary">
            <tr>
              <th>
                نام
              </th>
              <th>
                موجودی
              </th>
              <th>
                ضریب مصرف
              </th>
              <th class="text-center">
                تصویر
              </th>
            </tr>
          </thead>
          <tbody>
          {% for input_material in station.input_material.all %}
            <tr>
              <td>  <a href="{{ input_material.material.get_absolute_url }}"> {{ input_material.material }} </a></td>
              <td> {{ input_material.material.inventory }} </td>
              <td> {{ input_material.inventory }} </td>
              <td class="text-center">
                <div class="photo">
                  <img src="{{ input_material.material.image.url }}" alt="Profile Photo">
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card ">
      <div class="card-header">
         <h4> محصولات استفاده کننده:</h4>
      </div>
      <div class="card-body">
        {% for Tree in products %}
          <a href="{{ Tree.relatedProduct.get_absolute_url }}"> {{ Tree.relatedProduct }} </a>
          <img width="30px" src="{{ Tree.relatedProduct.synch_to.image.url }}" alt="Profile Photo">
          <br>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card ">
      <div class="card-header">
         <h4> قطعه خروج: </h4>
      </div>
      <div class="card-body">
        {% for Tree in products %}
          <a href="{{ station.output_material.get_absolute_url }}"> {{ station.output_material }} </a>
          <img width="30px" src="{{ station.output_material.image.url }}" alt="Profile Photo">
          <br>
        {% endfor %}
      </div>
    </div>
  </div>

</div>





{% if request.user == station.manager %}
  <div class="row" align="center" dir="rtl">

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
           <h4>  افزایش موجودی </h4>
        </div>
        <div class="card-body">

          <form action="#" method="post" align="right" dir="rtl">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1"> افزودن موجودی  {{ station.output_material }} به تعداد: </label>
                  <input name="inventory_field" type="text" class="form-control">
                </div>
              </div>
            </div>
           <div class="card-footer">
             <button type="submit" class="btn btn-fill btn-primary"> ذخیره </button>
           </div>
         </form>

        </div>


        <div id='history' class="card-body" align="right" dir="rtl">
          <table class="table tablesorter">
            <thead class=" text-primary">
              <tr>
                <th class="text-center">
                  تصویر
                </th>
                <th class="text-center">
                  قطعه
                </th>
                <th class="text-center">
                  مسئول
                </th>
                <th class="text-center">
                  تعداد
                </th>
                <th class="text-center">
                  تاریخ
                </th>
              </tr>
            </thead>
            <tbody>
            {% for Inventory_history in inventory_history %}
              <tr>
                <td class="text-center">
                  <div class="photo">
                    <img src="{{ Inventory_history.material.image.url }}" alt="Profile Photo">
                  </div>
                </td>
                <td class="text-center"> {{ Inventory_history.material }} </td>
                <td class="text-center"> {{ Inventory_history.manager }} </td>
                <td class="text-center"> {{ Inventory_history.quantity }} </td>
                <td class="text-center"> {{ Inventory_history.j_time }} </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          <button id="hide" style="background-color:#0c5ba9bd;color:white;text-align:center;border-radius:10px;padding:8px;font-size:13px;border:none;"> مخفی سازی </button>
        </div>
        <button id="show" style="background-color:#0c5ba9bd;color:white;text-align:center;border-radius:10px;padding:8px;font-size:13px;border:none;">  مشاهده تاریخچه  </button>

      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
           <h4>  خروج قطعه  </h4>
        </div>
        <div class="card-body">

          <form action="#" method="post" align="right" dir="rtl">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1"> خروج قطعه {{ station.output_material }} به تعداد: </label>
                  <input name="exit_station_field" type="text" class="form-control">
                </div>
              </div>
            </div>
           <div class="card-footer">
             <button type="submit" class="btn btn-fill btn-primary"> ذخیره </button>
           </div>
         </form>

        </div>
      </div>
    </div>

  </div>
{% endif %}








<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>

    $(document.getElementById('history')).hide();

    $(document).ready(function(){
      $("#hide").click(function(){
        $(document.getElementById('history')).hide();
      });
      $("#show").click(function(){
        $(document.getElementById('history')).show();
      });
    });






    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });



  </script>

{% endblock javascripts %}
