{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load bootstrap %}






<div class="col-md-12">
  <div class="card  card-plain" align="right" dir="rtl">
    <div class="card-header">
      <h4 class="card-title" dir="rtl" align="center"> ایستگاه {{ station.name }} </h4>

      <div class="row">
        <div class="col-md-6" align="right">
          <button style="background-color:#0c5ba9bd;color:white;text-align:center;border-radius:8px;padding:10px;font-size:16px;border:none;"> کد:&nbsp;{{ station.code }} </button>
        </div>
        <div class="col-md-6" align="left">
          <button style="background-color:#0c5ba9bd;color:white;text-align:center;border-radius:8px;padding:10px;font-size:16px;border:none;"> {{ station.position }} </button>
        </div>
      </div>

    </div>
  </div>
</div>


{% if station.inventory <= station.min_inventory %}
  <p align="right" dir="rtl" style="color:red;"> موجودی از حداقل کمتر است </p>
{% endif %}



<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">
        <div align="right" dir="rtl" class="card-description">
          <p class="category"> {{ station.description|linebreaks }} </p>
        </div>
      </div>
    </div>
  </div>
</div>






<div class="row" dir="rtl" align="right" style="font-size:11px; color:black;">

  <div class="col-md-2">
    <div class="card ">
      <div class="card-header">
        <h6 class="card-title" align="center"> موجودی  </h6>
      </div>
      <div class="card-body">
          {{ station.inventory }}
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card ">
      <div class="card-header">
        <h6 class="card-title" align="center"> حداقل موجودی  </h6>
      </div>
      <div class="card-body">
          {{ station.min_inventory }}
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card ">
      <div class="card-header">
        <h6 class="card-title" align="center"> ظرفیت تولید در روز   </h6>
      </div>
      <div class="card-body">
          {{ station.pro_cap_day }}
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card ">
      <div class="card-header">
        <h6 class="card-title" align="center"> درصد خطا  </h6>
      </div>
      <div class="card-body">
         {{ station.percent_error }}
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card ">
      <div class="card-header">
        <h6 class="card-title" align="center">  ایستگاه مادر </h6>
      </div>
      <div class="card-body">
         {{ station.mother_station|default:'ندارد' }}
      </div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="card ">
      <div class="card-header">
        <h6 class="card-title" align="center"> مسئول  </h6>
      </div>
      <div class="card-body">
         {{ station.manager }}
      </div>
    </div>
  </div>

</div>



  <p class="category"> قطعه خروجی : {{ station.output_material }} </p>




<div class="row" align="center" dir="rtl">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
         <h4> قطعات ورودی :</h4>
      </div>
      <div class="card-body">
        {% for input_material in station.input_material.all %}
          <a href="{{ input_material.material.get_absolute_url }}"> {{ input_material.material }} </a> با ضریب {{ input_material.inventory }} &nbsp;&nbsp; موجودی: {{ input_material.material.inventory }}  <br>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card ">
      <div class="card-header">
         <h4>  محصولات استفاده کننده: :</h4>
      </div>
      <div class="card-body">
        {% for Tree in products %}
          <a href="{{ Tree.relatedProduct.get_absolute_url }}"> {{ Tree.relatedProduct }}  <br> </a>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <div class="col-md-3">
    <div class="card ">
      <div class="card-header">
         <h4>  محصولات استفاده کننده: :</h4>
      </div>
      <div class="card-body">
        {% for Tree in products %}
          <a href="{{ Tree.relatedProduct.get_absolute_url }}"> {{ Tree.relatedProduct }}  <br> </a>
        {% endfor %}
      </div>
    </div>
  </div>

</div>





{% if request.user == station.manager %}
  <div class="row" align="center" dir="rtl">

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
           <h4>  افزایش موجودی </h4>
        </div>
        <div class="card-body">

          <form action="#" method="post" align="right" dir="rtl">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1"> افزودن موجودی  {{ station.output_material }} به تعداد: </label>
                  <input name="inventory_field" type="text" class="form-control">
                </div>
              </div>
            </div>
           <div class="card-footer">
             <button type="submit" class="btn btn-fill btn-primary"> ذخیره </button>
           </div>
         </form>

        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
           <h4>  خروج قطعه  </h4>
        </div>
        <div class="card-body">

          <form action="#" method="post" align="right" dir="rtl">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1"> خروج قطعه {{ station.output_material }} به تعداد: </label>
                  <input name="exit_station_field" type="text" class="form-control">
                </div>
              </div>
            </div>
           <div class="card-footer">
             <button type="submit" class="btn btn-fill btn-primary"> ذخیره </button>
           </div>
         </form>

        </div>
      </div>
    </div>

  </div>
{% endif %}














{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>






    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();
    });



  </script>

{% endblock javascripts %}
