{% extends 'layouts/base.html' %}

{% block title %} Maps {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
         Mapssssss
      </div>






      <div id="map"></div>
      <script src="{% static 'map/map.js' %}"></script>



<!--
      {% load mapbox_location_field_tags %}
      {% location_field_includes %}
      {% include_jquery %}

      {% for Station in maps %}
        <div class="col-12  col-xl-12 pr-0 pr-md-4 ">
           {{  Station.location }}
          <div class="border" id="map" width="100%" style='height:400px'></div>
        </div>
      {% endfor %}
            <script>
                mapboxgl.accessToken = {{ mapbox_access_token }};
                var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [35.69439, 51.42151],
                zoom: 9,
                // bearing: 180
                });
            </script>
-->


    </div>
  </div>
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
  $(document).ready(function() {
    // Javascript method's body can be found in assets/js/demos.js
    // demo.initGoogleMaps();
  });
</script>

{% endblock javascripts %}
